body {
  background-color: lightgray;
}

.secondPage{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

.HeroSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  background-color: #d3d3d3;
  height: 100vh
}

.HeroSection #title{
  font-size: 100px;
  font-family: 'DynaPuff';
}

.HeroSection #headerTwo {
  color: lightcoral;
}

#getStartedButton{
  width: 100px;
  height: 40px;
  background-color: lightcoral;
  border-radius: 5px;
}

.MainSectionComponent {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

.leftPanel, .rightPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  padding: 30px;
  width: 550px;
  height: 650px;
  background-color: #f9f9f9; 
  border: 2px solid lightcoral; 
  border-radius: 25px; 
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
}

.formBox {
  border: 2px;
  border: solid black;
  border-radius: 10px;
  width: 475px;
  height: 400px;
  overflow: auto;
  resize: none;
}

#formButton{
  width: 150px;
  height: 50px;
  background-color: lightcoral;
  border-radius: 10px;
  margin: 10px 10px 5px 10px;
}

.footerBox{
  display: flex;
  justify-content: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}

.footerBox p {
  margin: 10px;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 5px 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.popup-content{
  height: 70px;
  overflow-y: auto;
}

.popUpToConfirm{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  max-height: 90vh;
  overflow-y:auto;
  background-color: lightcoral;
  border: 2px solid black; 
  border-radius: 25px; 
  padding: 30px;
}

.popup-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#closeButton {
  background: lightgray;
  border: 1px solid black;
  border-radius: 5px;
  margin-left:10px;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.popup-list {
  margin-top: 1rem; 
}

#addToCalendarButton{
  width: 200px;
  height: 50px;
  background-color: lightgray;
  border-radius: 10px;
  margin: 10px;
}

